<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/camera.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main style="background: #f5f5f7; padding: 0;">
        <% if (cameras.length > 0) { %>
        <div class="grid" style="position: relative;">
            <% var c = 1 %>
            <% for (let camera of cameras) { %>
            <article class="card camera-item" style="filter:grayscale(1); pointer-events:none; position: relative;z-index: 2;">
                <div style="position: absolute; right: 1rem; top: 1rem;">
                    <button data-ip="<%= camera.ip %>" data-name="<%= camera.name %>" data-description="<%= camera.description %>"class="edit_camera" style="background: none; color: inherit; border: none;font-size: larger;cursor: pointer;">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                </div>
                <header class="card__header">
                    <div class="card__content">
                        <h2 class="camera__title"><%= camera.name %></h2>
                        <p class="camera__description"><%= camera.description%></p>
                        <p class="camera__description"><%= camera.ip %></p>
                    </div>
                </header>
                <div class="image-hover-text-container">
                    <div class="image-hover-image">
                        <img id="image<%=c%>" src="./images/load-icon.gif" alt="<%= camera.ip %>"
                            data-ip="<%= camera.ip %>">
                    </div>
                    <div class="image-hover-text">
                        <div class="image-hover-text-bubble">
                            <span id="refresh_img<%=c%>" class="image-hover-text-title" data-ip="<%= camera.ip %>"
                                data-img="image<%=c%>"><i class="fas fa-sync-alt"></i><br>Refresh</span>
                        </div>
                    </div>
                </div>

                <div class="controller" style="display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 1000px;
                border: 10px solid #4d4d4d;
                height: 284px;
                width: 90%;
                margin: 5%;">
                    <div class="card__actions"><button id="up<%=c%>" class="button-up" data-ip="<%= camera.ip %>"
                            data-img="image<%=c%>"><i class="fas fa-angle-double-up"></i></button></div>


                    <div class="card__actions left-right-box">
                        <button id="left<%=c%>" class="button-left" data-ip="<%= camera.ip %>" data-img="image<%=c%>"><i
                                class="fas fa-angle-double-left"></i></button>
                        <button id="button-center" class="plus-minus-button" data-ip="<%= camera.ip %>"
                            data-img="image<%=c%>"><i class="far fa-dot-circle"></i></button>
                        <button id="right<%=c%>" class="button-right" data-ip="<%= camera.ip %>"
                            data-img="image<%=c%>"><i class="fas fa-angle-double-right"></i></button>
                    </div>
                    <div class="card__actions"><button id="down<%=c%>" class="button-down" data-ip="<%= camera.ip %>"
                            data-img="image<%=c%>"><i class="fas fa-angle-double-down"></i></button></div>
                </div>

                <div id="advanced-button<%=c%>" style="text-align: center; font-weight: bold; margin-bottom: 5%;"
                    data-num="<%=c%>">
                    <label>Advanced <i class="fas fa-sort-down"></i></label></div>
                <div id="advanced-container<%=c%>" style="width: 100%;
                /* height: 165px; */
                border: 5px solid #4d4d4d;
                text-align: center;
                display:none;">
                    <!-- <form action="">
                        <label for="pan">PAN:</label>
                        <input type="number" id="pan<%=c%>" name="pan" min="0" max="65535">
                        <input class="little-button" type="submit" value="Set">
                    </form>
                    <form action="">
                        <label for="tilt">TILT:</label>
                        <input type="number" id="tilt<%=c%>" name="tilt" min="0" max="65535">
                        <input class="little-button" type="submit" value="Set">
                    </form> -->

                    <hr>
                    <form id="preset_submit<%=c%>" action="" method="get" class="card__actions">
                        <div class="">
                            <label for="preset" style="font-weight: bold;">Choose preset :</label>
                            <select name="preset" id="preset<%=c%>" style="margin-bottom: 2%">
                                <option value=""></option>
                                <% for (var i = 0; i<100; i++) { %>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                        </select>
                        <input type="hidden" id="ip<%=c%>" name="ip" value="<%= camera.ip %>">
                        </div>
                        <div class="">
                            <button type="submit" value="Move" class="little-button">Move <i
                                    class="fas fa-exchange-alt"></i></button>
                            <button type="submit" value="Save" class="little-button">Save <i
                                    class="far fa-save"></i></button>
                        </div>
                    </form>

                </div>


                <div style="text-align: center; font-weight: bold"><label>zoom</label></div>
                <div class="card__actions" style="padding-top: 0%">
                    <button id="max" class="plus-minus-button"
                        style="font-size:1rem; margin-right: 10%; font-weight: bold; color: red"
                        data-ip="<%= camera.ip %>">MAX</button>
                    <button id="zoom" class="plus-minus-button" data-ip="<%= camera.ip %>" data-img="image<%=c%>"><i
                            class="far fa-plus-square"></i></button>
                    <button id="dezoom" class="plus-minus-button" data-ip="<%= camera.ip %>" data-img="image<%=c%>"><i
                            class="far fa-minus-square"></i></button>
                    <button id="min" class="plus-minus-button"
                        style="font-size:1rem; margin-left: 10%; font-weight: bold; color: green"
                        data-ip="<%= camera.ip %>">MIN</button>
                </div>


            </article>
            <% c++ %>
            <% } %>

            <img style="position: absolute;bottom: 0;left: 0;height: 7rem;width: 100%;overflow: hidden; z-index: 1;" src="./images/borderWavesBlue.svg">

        </div>
        <div style="width: 100%; background: #0769af;border-bottom-left-radius: 30px;border-bottom-right-radius: 25px; padding: 1%;">
            <div class="card" style="position: relative; padding: 5px; margin-right: 1rem;margin-bottom: 1rem;margin-left: 1rem;text-align: center; border-radius: 30px; background: white;">
                <div style="position: absolute; right: 2rem; top: 2rem;">
                    <button id="editCodecBtn" style="background: none; color: inherit; border: none;font-size: larger;cursor: pointer;">
                        <i class="fas fa-pen"></i>
                    </button>
                </div>
                <h2 style="display: flex;
                justify-content: center;
                align-items: center;" class="camera__title"><%= codecInfo.name %><button class="little-button" style="margin-left: 1%;"
                        onClick="window.location.reload();"><i class="fas fa-redo-alt"></i></button></i></h2>
                <hr>
                <%if (sx80Config.codecStatus === "ok") {%>
                <div style="display: flex; justify-content:center">
                    <ul id="selection_list">
                        <li>
                            <form action="/" id="source_selection">
                                <input id="mainVideoSource" value="" hidden>
                                <label for=" sources" style="font-weight: bold;">Select Main Video Source:</label>
                                <% for ( inputLabel of codecInfo.inputLabels) { %>
                                <button type="submit" value="<%=inputLabel.number%>" class="little-button"><%=inputLabel.name%></button>
                                <% } %>
                            </form>
                        </li>
                        <li>
                            <form id="share_selection">
                                <label for="share-sources" style="font-weight: bold;">Select Share Source:</label>
                                <input id="shareSource" value="" hidden>
                                <% for ( inputLabel of codecInfo.inputLabels) { %>
                                    <button type=" submit" value="<%=inputLabel.number%>" class="little-button"><%=inputLabel.name%></button>
                                <% } %>
                                <button id="btnStopSharing" type="submit" value="Stop" class="little-button"
                                    style="background-color: #ff0000c9;" hidden>Stop Sharing</button>
                            </form>
                        </li>
                        <!-- <li style="display: flex">
                            <form id="audio_selection">
                                <label style="font-weight: bold;">Audio</label>
                                <select name="audioSource" id="audioSource" disabled>
                                    <option value="1">Microphone 1</option>
                                    <option value="2">Microphone 2</option>
                                    <option value="3">Microphone 3</option>
                                    <option value="4">Microphone 4</option>
                                    <option value="5">Microphone 5</option>
                                    <option value="6">Microphone 6</option>
                                    <option value="7">Microphone 7</option>
                                    <option value="8">Microphone 8</option>
                                </select>
                                <button type="submit" value="Set_Audio" class="little-button"
                                    style="background-color: #42c542;" disabled><i class="fas fa-power-off"></i></button>
                                <button type="submit" value="Stop_Audio" class="little-button"
                                    style="background-color: #ff0000c9;" disabled><i
                                        class="fas fa-microphone-slash"></i></button>
                            </form>
                        </li> -->
                        <li>
                            <form id="callWebexNumber" action="/call" method="POST">
                                <label style="font-weight: bold;">Call Webex Number:</label>
                                <input id="webexNumber" name="webexNumber" type="text" value="" required>
                                <button id="startCallWebex" type="submit" value="startCallWebex" class="little-button"
                                    style="background-color: #42c542;"><i class="fas fa-phone-alt"></i></i></button>
                                <button id="endCallWebex" type="submit" value="endCallWebex" class="little-button"
                                    style="background-color: #ff0000c9;" hidden><i class="fas fa-phone-slash"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
                <% } else { %>
                    <h1 style="color: red;">The codec is not responding...</h1><p>Check that the codec is on or the ip address</p>
                <% } %>
    
            </div>
            <div class="card" style="position: relative; padding: 5px; margin: 1rem; display: flex; flex-direction:column ;text-align: center; justify-content: center; border-radius: 30px; background: white;">
                <div style="position: absolute; right: 2rem; top: 2rem;">
                    <button id="editMatrixBtn" style="background: none; color: inherit; border: none;font-size: larger;cursor: pointer;">
                        <i class="fas fa-pen"></i>
                    </button>
                </div>
                <table id="grid" class="matrix">
                    <h2 style="display: flex;
                    justify-content: center;
                    align-items: center;"class="camera__title"><%= hdmiMatrixInfo.name %> <button class="little-button" style="margin-left: 1%;"
                            onClick="window.location.reload();"><i class="fas fa-redo-alt"></i></button></h2>
                    <hr>
                    <tr>
                        <td></td>
                        <% for ([index, output] of hdmiMatrixInfo.outputs.entries()) { %>
                        <td id="cell<%=index+1%>-0" class="cell clickable"><b><%= output.label %></b></b><br>Output <%= index + 1 %><br><p style="font-size: x-small;">Click here for no input</p></td>
                        <% } %>
                    </tr>
                    
                    <% for ([index, input] of hdmiMatrixInfo.inputs.entries()) { %>
                    <tr>
                        <td><b><%=input.label%></b><br>Input <%=index+1%></td>
                        <% for (var x = 1; x<=8; x++) { %>
                            <td id="cell<%=x%>-<%=index+1%>" class="cell clickable"></td>
                        <%}%>
                    </tr>
                    <%}%>
                  </table>
            </div>
        </div>

        <div style="display: flex;flex-direction: column; align-items: center;padding: 2%;">
                <div style="display: flex; width: 100%; justify-content: center;">
                        <button id="myBtn" class="little-button" style="margin-bottom: 0%;">Create New Demo <i class="fas fa-plus"></i></button>
                        <label style="margin-left: 10px; margin-right: 10px;">OR</label>
                        <label for="demoChoose" style="margin-right: 5px; font-weight: bold;">Choose the Demo Package</label>
                        <select name="demoChoose" id="demoChoose" style="width: 8%; text-align: center; padding: 2px;">
                        <% for (let demo of demoList) { %>
                            <% if (demoName == demo.name){%>
                            <option value="<%=demo._id%>" selected> <%=demo.name%> </option>
                            <%} else {%>
                            <option value="<%=demo._id%>"> <%=demo.name%> </option>
                            <% }%>
                        <% } %>
                        </select>
                </div>
            <label for="saveName">Scene Name: </label>
            <input id="saveName" type="text" name="saveName" style="margin-bottom: 1%">
            <button id="btnSaveAll" class="little-button">Save All <i class="fas fa-save"></i></button>
        </div>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Choose a Name for the Demo</p>
                <form action="/admin/addDemo" method="POST">
                    <input type="text" id="demoName" name="demoName">
                    <input class="little-button" type="submit" value="Add">
                </form>
            </div>

        </div>

        <div id="cameraInfoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="camera__title">Edit camera information</h2>
                <br>
                <form action="/updateCamera" method="POST" class="form-modal">
                    <input type="text" name="cameraOldIp" id="cameraOldIp" hidden>
                    <div class="form-modal">
                        <label for="cameraName">Change camera name: </label>
                        <input type="text" name="cameraName" id="cameraName" required>
                    </div>
                    <div class="form-modal">
                        <label for="cameraDescription">Change camera description: </label>
                        <input type="text" name="cameraDescription" id="cameraDescription" required>
                    </div>
                    <div class="form-modal">
                        <label for="cameraIp">Change camera ip: </label>
                        <input type="text" name="cameraIp" id="cameraIp" required>
                    </div>
                    <div class="form-modal">
                        <input id="updateCameraInfoBtn" class="little-button" type="submit" value="Update">
                    </div>
                </form>
              </div>
        </div>

        <div id="codecInfoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="camera__title">Edit codec information</h2>
                <form action="/updateCodecInfo" method="POST" class="form-modal">
                    <br>
                    <h3 style="text-decoration: underline;">General info</h3>
                    <div class="form-modal">
                        <label for="codecName">Codec name: </label>
                        <input type="text" name="codecName" id="codecName" value="<%=codecInfo.name%>" required>
                    </div>
                    <div class="form-modal">
                        <label for="codecIp">Codec ip: </label>
                        <input type="text" name="codecIp" id="codecIp" value="<%=codecInfo.ip%>" required>
                    </div>
                    <br>
                    <h3 style="text-decoration: underline;">Input label's</h3>
                    <% for ( inputLabel of codecInfo.inputLabels) { %>
                        <div class="form-modal">
                            <label for="<%=inputLabel.number%>">Label of input n°<%= inputLabel.number %>: </label>
                            <input type="text" name="labelInput<%=inputLabel.number%>" value="<%=inputLabel.name%>" required>
                        </div>
                    <% } %>

                    <div class="form-modal">
                        <input id="updateCodecInfoBtn" class="little-button" type="submit" value="Update">
                    </div>
                </form>
              </div>
        </div>


        <div id="hdmiMatrixInfoModal" class="modal">
            <div class="modal-content" style="width: 50%; max-width: none; min-width: 45rem;">
                <span class="close">&times;</span>
                <h2 class="camera__title">Edit HDMI matrix information</h2>
                <br>
                <form id="matrixForm" action="/updateMatrixInfo" method="POST">
                    <div style="display: flex; flex-direction: row; justify-content: space-around;">
                        <div>
                            <% for ([index, output] of hdmiMatrixInfo.outputs.entries()) { %>
                                <div class="form-modal">
                                    <label for="labelOutput<%= index + 1 %>">Label for output <%= index + 1 %>: </label>
                                    <input type="text" name="labelOutput<%= index + 1 %>" id="labelOutput<%= index + 1 %>" value="<%= output.label %>" required>
                                </div>
                            <% } %>
                        </div>
                        <div>
                            <% for ([index, input] of hdmiMatrixInfo.inputs.entries()) { %>
                                <div class="form-modal">
                                    <label for="labelInput<%= index + 1 %>">Label for input <%= index + 1 %>: </label>
                                    <input type="text" name="labelInput<%= index + 1 %>" id="labelInput<%= index + 1 %>" value="<%= input.label %>" required>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-modal">
                        <input id="updateCodecInfoBtn" class="little-button" type="submit" value="Update">
                    </div>
                </form>
              </div>
        </div>

        <div id="warningInfoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="camera__title"><i class="fas fa-exclamation-triangle"></i> Warning</h2>
                <p> A demonstration is in progress, please do not disturb it</p>
            </div>
        </div>

        <% } else { %>
        <h1>No cameras Found!</h1>
        <% } %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/modal.js"></script>
    <script>
        $(document).ready(function () {
            var cameras = <%-JSON.stringify(cameras)%> ;
            var krammerConfig = <%-JSON.stringify(krammerConfig)%>;
            for (let index = 0; index < cameras.length; index++) {
                const camera = cameras[index];
                $(`#image${index + 1}`).attr('src', "http://" + camera.ip + "/cgi-bin/camera");
            }

            //KRAMMER CELL COLORATION//
            console.log(krammerConfig);
            if( krammerConfig.length > 0){
                console.log(krammerConfig[0].input);
                var str = ""
                Array.prototype.forEach.call(krammerConfig, element => {
                    str = "#cell" + element.output + "-" + element.input;
                    console.log(str);
                    $(str).css("background-color", "yellow");
                });
            }
            else{
                $( "#grid" ).replaceWith( "<h2 style='color:red'>Krammer API not available...</h2><p>Check on websvr2 the service called <b>_DEV_KrammerAPI</b></p>" );
                window.alert("Krammer API do not respond... Check on websvr2 the service called _DEV_KrammerAPI")
            }

            //END KRAMMER CELL COLORATION//

            //GET & SET SX80 STATUS//
            var $form = $('#source_selection');
            var shareForm = $('#share_selection');
            var buttons = $form.find(":submit").css("background-color", "#ff0000c9");
            var shareButtons = shareForm.find(":submit").css("background-color", "#ff0000c9");
            var codecStatus = "<%=sx80Config.codecStatus%>";
            
            if(codecStatus === "ok"){
             //ici je cherche à trouver quel btn correspond a la mainVideoSource et je le met en vert
                for (let index = 0; index < buttons.length; index++) {
                    if (buttons[index].value === "<%=sx80Config.mainVideoSource%>") {
                        buttons[index].style.backgroundColor = "#42c542";
                        $('#mainVideoSource').val(buttons[index].value);
                    }
                }
                if ("<%=sx80Config.shareSource%>" != "Not_Sending") {
                    $('#btnStopSharing').show();
                    for (let index = 0; index < shareButtons.length; index++) {
                        if (shareButtons[index].value === "<%=sx80Config.shareSource%>") {
                            shareButtons[index].style.backgroundColor = "#42c542";
                            $('#shareSource').val(shareButtons[index].value);
                        }
                    }
                }
            }
            else{
                window.alert("The codec is not responding ! Check IP adress")
            }


            /*If camera feedback not loading*/
            $("img").on("load", function () {
                var ip = $(this).data('ip');
                console.log("load")
                if($(this).attr('src') === "./images/no-video.png"){
                    $(this).closest('.camera-item').css({"filter":"none", "pointer-events":"all"});
                    $(this).closest('.camera-item').find('.controller').css({"filter":"grayscale(1)", "pointer-events":"none"});
                    setTimeout(() => {
                        window.alert(`Cannot find the camera ${ip} !`);
                    }, 500);
                }
                else{
                    $(this).closest('.camera-item').find('.controller').css({"filter":"none", "pointer-events":"all"});
                    $(this).closest('.camera-item').css({"filter":"none", "pointer-events":"all"});
                }
            });

            $("img").on("error", function () {
                $(this).attr("src", "./images/no-video.png");  
            });

            /* Check Device Type (touch or mouse) */
            var isTouchSupported = "ontouchend" in document; //boolean
            var myDown = isTouchSupported ? "touchstart" : "mousedown";
            var myUp = isTouchSupported ? "touchend" : "mouseup";

            $('.clickable').click(function () {
                col = $(this).parent().children().index($(this));
                row = $(this).parent().parent().children().index($(this).parent());
                const nbCell = 8;
                for (let index = 0; index <= nbCell; index++) {
                    $("#cell" + col + "-" + index).css("background-color", "");
                }
                $(this).css("background-color", "yellow");
                const data = "input=" + row + "&" + "output=" + col;
                console.log(col, row);
                $.ajax({
                    url: '/setInOut',
                    type: 'post',
                    data: data,
                    success: function () {}
                });
            });

            $("div[id^='advanced-button']").click(function () {
                var elem_id = $(this).data('num');
                var element = $("#advanced-container" + elem_id)
                if (element.is(':visible')) {
                    element.hide("slow");
                } else {
                    element.show("slow");
                }

            });

            $("span[id^='refresh_img']").click(function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                console.log("refresh", ip, id_name_image);
                //In the src attribut I use ?time argument to force browser to reload the image
                //In fact Safari and Firefox doesn't reload the img if the src link do not change
                $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
            });

            $("button[id^='button-center']").click(function () {
                console.log('center');
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/center/' + ip,
                    type: 'get',
                    success: 'success',
                });
            });

            /** Edit camera information modal JS**/
            var cameraModal = document.getElementById("cameraInfoModal");
            var closeBtn = document.getElementsByClassName("close")[1];
            closeBtn.onclick = function () {
                cameraModal.style.display = "none";
            }

            $('.edit_camera').on('click', function (e) {
                e.preventDefault();
                var ip = $(this).data('ip');
                var name = $(this).data('name');
                var description = $(this).data('description');
                $('input[name="cameraOldIp"]').val(ip);
                $('input[name="cameraName"]').val(name);
                $('input[name="cameraDescription"]').val(description);
                $('input[name="cameraIp"]').val(ip);
                cameraModal.style.display = "flex";
                console.log("clicked", ip);
            });

            $('#updateCameraInfoBtn').on('click', function (e) {
                cameraModal.style.display = "none";
            });
            /** End **/

            /** Edit codec information modal JS**/
            var codecModal = document.getElementById("codecInfoModal");
            var closeCodecBtn = document.getElementsByClassName("close")[2];
            closeCodecBtn.onclick = function () {
                codecModal.style.display = "none";
            }

            $('#editCodecBtn').on('click', function (e) {
                codecModal.style.display = "flex";
            });
            /** End **/

            /** Edit HDMI matrix information modal JS**/
            var matrixModal = document.getElementById("hdmiMatrixInfoModal");
            var closeMatrixBtn = document.getElementsByClassName("close")[3];
            closeMatrixBtn.onclick = function () {
                matrixModal.style.display = "none";
            }

            $('#editMatrixBtn').on('click', function (e) {
                matrixModal.style.display = "flex";
            });

            var $matrixForm = $('#matrixForm');
            var initialState = $matrixForm.serialize();
            var initialValues = $matrixForm.serializeArray()
            
            $matrixForm.submit(function (e) {
            e.preventDefault();
            if (initialState === $matrixForm.serialize()) {
                console.log('Form is unchanged!');
            } else {
                console.log('Form has changed!');
                var currentValues = $matrixForm.serializeArray();
                const newOutputs = currentValues.filter(v => v.name.includes("Output")).map(e =>  ({number: e.name.substr(e.name.length - 1), label : e.value}) );
                const newinputs = currentValues.filter(v => v.name.includes("Input")).map(e =>  ({number: e.name.substr(e.name.length - 1), label : e.value}) );

                const dataToSend = {outputs: newOutputs, inputs: newinputs }

                $.ajax({
                    url: '/updateMatrixInfo/',
                    type: 'POST',
                    data: {changedValues: JSON.stringify(dataToSend)},
                    success: function (data) {
                        location.reload();
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            });
            /** End **/


            /** Edit warning modal JS**/
            var warningModal = document.getElementById("warningInfoModal");
            var closeWarningBtn = document.getElementsByClassName("close")[4];
            closeWarningBtn.onclick = function () {
                warningModal.style.display = "none";
            }
            let isDemoInProgress = "<%=appStatus%>" === "true";
            if( isDemoInProgress){
                warningModal.style.display = "flex";
            }

            /** End **/

            $("button[id^='zoom']").bind(myDown, function () {
                var ip = $(this).data('ip');
                console.log("zoom in");
                $.ajax({
                    url: '/zoom/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='zoom']").bind(myUp, function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
                console.log("stop zoom in");
                $.ajax({
                    url: '/stopZoom/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });


            $("button[id^='dezoom']").bind(myDown, function () {
                var ip = $(this).data('ip');
                console.log("zoom out");
                $.ajax({
                    url: '/dezoom/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='dezoom']").bind(myUp, function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
                console.log("stop zoom out");
                $.ajax({
                    url: '/stopZoom/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='max']").click(function () {
                console.log('max');
                var ip = $(this).data('ip');
                var string = JSON.stringify({
                    ip: ip,
                    extremum: "min"
                });
                $.ajax({
                    url: '/zoomExtremum',
                    type: 'post',
                    data: "ip=" + ip + "&extremum=max",
                    success: 'success'
                });
            });

            $("button[id^='min']").click(function () {
                console.log('min');
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/zoomExtremum',
                    type: 'post',
                    data: "ip=" + ip + "&extremum=min",
                    success: 'success'
                });
            });

            $("button[id^='right']").bind(myDown, function () {
                var ip = $(this).data('ip');
                console.log("right");
                $.ajax({
                    url: '/right/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='right']").bind(myUp, function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                setTimeout(() => {
                    $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
                }, 200);
                console.log("stop right");
                $.ajax({
                    url: '/stopPanTilt/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='left']").bind(myDown, function () {
                var ip = $(this).data('ip');
                console.log("left");
                $.ajax({
                    url: '/left/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='left']").bind(myUp, function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                setTimeout(() => {
                    $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
                }, 200);
                console.log("stop left");
                $.ajax({
                    url: '/stopPanTilt/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            // $("button[id^='up']").click(function () {
            //     var ip = $(this).data('ip');
            //     console.log("up", ip);
            //     $.ajax({
            //         url: '/up/' + ip,
            //         type: 'get',
            //         success: 'success'
            //     });
            // });

            $("button[id^='up']").bind(myDown, function () {
                var ip = $(this).data('ip');
                console.log("left");
                $.ajax({
                    url: '/up/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='up']").bind(myUp, function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                setTimeout(() => {
                    $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
                }, 200);
                console.log("stop up");
                $.ajax({
                    url: '/stopPanTilt/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            // $("button[id^='down']").click(function () {
            //     var ip = $(this).data('ip');
            //     console.log("down", ip);
            //     $.ajax({
            //         url: '/down/' + ip,
            //         type: 'get',
            //         success: 'success'
            //     });
            // });

            $("button[id^='down']").bind(myDown, function () {
                var ip = $(this).data('ip');
                console.log("down");
                $.ajax({
                    url: '/down/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $("button[id^='down']").bind(myUp, function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                setTimeout(() => {
                    $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera" + "?time=" + new Date().getTime());
                }, 200);
                console.log("stop down");
                $.ajax({
                    url: '/stopPanTilt/' + ip,
                    type: 'get',
                    success: 'success',
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            // Form for saving and setting preset
            $('.card__actions').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                var button = $(document.activeElement).val();
                if (button == "Move") {
                    console.log('Move', data);
                    $.ajax({
                        url: '/preset',
                        type: 'post',
                        data: data,
                        success: function () {}
                    });
                } else if (button == "Save") {
                    console.log('Save', data);
                    $.ajax({
                        url: '/savePreset',
                        type: 'post',
                        data: data,
                        success: function () {}
                    });
                }

            });

            $('#source_selection button').click(function (e) {
                e.preventDefault();
                var $form = $('#source_selection');
                var $buttons = $form.find(":submit").css("background-color",
                    "#ff0000c9"); //met tous les btn en rouge
                $(this).css("background-color", "#42c542");
                $('#mainVideoSource').val($(this).val());
                $.ajax({
                    url: '/setMainVideoSource',
                    type: 'post',
                    data: 'mainVideoSource=' + $(this).attr("value"),
                    success: function () {},
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $('#share_selection button').click(function (e) {
                e.preventDefault();
                if ($(this).attr("value") != "Stop") {
                    $('#btnStopSharing').show();
                    $('#share_selection').find(":submit").css("background-color",
                        "#ff0000c9");
                    $(this).css("background-color", "#42c542");
                    $('#shareSource').val($(this).val());
                    $.ajax({
                        url: '/setShareSource',
                        type: 'post',
                        data: 'shareSource=' + $(this).attr("value"),
                        success: function () {}
                    });
                } else if ($(this).attr("value") == "Stop") {
                    $('#btnStopSharing').hide();
                    $('#shareSource').val("");
                    $('#share_selection').find(":submit").css("background-color",
                        "#ff0000c9");
                    $.ajax({
                        url: '/stopShare',
                        type: 'get',
                        success: function () {}
                    });
                }
            });

            $('#callWebexNumber button').click(function (e) {
                if ($(this).attr("value") == "startCallWebex" && $("#webexNumber").val().length !== 0) {
                    $("#callWebexNumber").attr('action', '/call');
                    $(this).hide();
                    $('#endCallWebex').show();

                } else if ($(this).attr("value") == "endCallWebex") {
                    $("#callWebexNumber").attr('action', '/endCall');
                    $(this).hide();
                    $('#startCallWebex').show();
                }
            });

            $('#btnSaveAll').click(function (e) {
                var myTableArray = [];
                var string = "";
                $("table#grid tr").each(function () {
                    var arrayOfThisRow = [];
                    var tableData = $(this).find('td');
                    var index = 1;
                    if (tableData.length > 0) {
                        //je recupere l'etat courant de la matrice krammer
                        tableData.each(function () {
                            if ($(this).css("background-color") == "rgb(255, 255, 0)") {
                                string += $(this).attr('id').substring(4).split('-')[
                                        1] + ">" + $(this).attr('id').substring(4)
                                    .split(
                                        '-')[0] + ","
                                arrayOfThisRow.push({
                                    output: $(this).attr('id').substring(4)
                                        .split('-')[0],
                                    input: $(this).attr('id').substring(4)
                                        .split('-')[1]
                                });
                            }
                        });
                        myTableArray.push(arrayOfThisRow);
                    }
                });
                string = string.slice(0, -1); //remove last character ","
                const allOutInput = myTableArray.filter(e => e.length > 0); //unused <===
                console.log(allOutInput[0][0]);
                const mainVideoSource = $("#mainVideoSource").val();
                const shareSelection = $("#shareSource").val();

                const demoId = $("#demoChoose").val();
                const configName = $("#saveName").val();
                var data = {};
                data.mainVideoSource = mainVideoSource;
                data.shareSelection = shareSelection;
                data.allOutInput = string;
                data.configName = configName;
                data.demoId = demoId;
                if (!configName) {
                    alert("Your scene has no name!");
                } else {
                    $.ajax({
                        url: '/saveConfig',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function () {
                            $('#btnSaveAll').css('background-color', 'green');
                            $('#btnSaveAll').html('<i class="fas fa-check"></i>');
                            setTimeout(function () {
                                $('#btnSaveAll').css('background-color', '#449abd');
                                $('#btnSaveAll').html(
                                    'Save All <i class="fas fa-save"></i>')
                            }, 1500);
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
            });
        });
    </script>
    <%- include('../includes/end.ejs') %>