<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/camera.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (cameras.length > 0) { %>
        <div class="grid">
            <% var c = 1 %>
            <% for (let camera of cameras) { %>
            <article class="card camera-item">
                <header class="card__header">
                    <div class="card__content">
                        <h2 class="camera__price"><%= camera.name %></h2>
                        <p class="camera__description"><%= camera.description %></p>
                        <p class="camera__description"><%= camera.ip %></p>
                    </div>
                </header>
                <div class="image-hover-text-container">
                    <div class="image-hover-image">
                        <img id="image<%=c%>" src="http://<%= camera.ip %>/cgi-bin/camera" alt="<%= camera.ip %>"
                            data-ip="<%= camera.ip %>">
                    </div>
                    <div class="image-hover-text">
                        <div class="image-hover-text-bubble">
                            <span id="refresh_img<%=c%>" class="image-hover-text-title" data-ip="<%= camera.ip %>"
                                data-img="image<%=c%>"><i class="fas fa-sync-alt"></i><br>Refresh</span>
                        </div>
                    </div>
                </div>

                <div style="display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 1000px;
                border: 10px solid #4d4d4d;
                height: 284px;
                width: 90%;
                margin: 5%;">
                    <div class="card__actions"><button id="up<%=c%>" class="button-up" data-ip="<%= camera.ip %>"><i
                                class="fas fa-angle-double-up"></i></button></div>


                    <div class="card__actions left-right-box">
                        <button id="left<%=c%>" class="button-left" data-ip="<%= camera.ip %>"><i
                                class="fas fa-angle-double-left"></i></button>
                        <button id="button-center" class="plus-minus-button" data-ip="<%= camera.ip %>"><i
                                class="far fa-dot-circle"></i></button>
                        <button id="right<%=c%>" class="button-right" data-ip="<%= camera.ip %>"><i
                                class="fas fa-angle-double-right"></i></button>
                    </div>
                    <div class="card__actions"><button id="down<%=c%>" class="button-down" data-ip="<%= camera.ip %>"><i
                                class="fas fa-angle-double-down"></i></button></div>
                </div>

                <div id="advanced-button<%=c%>" style="text-align: center; font-weight: bold; margin-bottom: 5%;"
                    data-num="<%=c%>">
                    <label>Advanced <i class="fas fa-sort-down"></i></label></div>
                <div id="advanced-container<%=c%>" style="width: 100%;
                /* height: 165px; */
                border: 5px solid #4d4d4d;
                text-align: center;
                display:none;">
                    <!-- <form action="">
                        <label for="pan">PAN:</label>
                        <input type="number" id="pan<%=c%>" name="pan" min="0" max="65535">
                        <input class="little-button" type="submit" value="Set">
                    </form>
                    <form action="">
                        <label for="tilt">TILT:</label>
                        <input type="number" id="tilt<%=c%>" name="tilt" min="0" max="65535">
                        <input class="little-button" type="submit" value="Set">
                    </form> -->

                    <hr>
                    <form id="preset_submit<%=c%>" action="" method="get" class="card__actions">
                        <div class="">
                            <label for="preset" style="font-weight: bold;">Choose preset :</label>
                            <select name="preset" id="preset<%=c%>" style="margin-bottom: 2%">
                                <option value=""></option>
                                <% for (var i = 0; i<100; i++) { %>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                        </select>
                        <input type="hidden" id="ip<%=c%>" name="ip" value="<%= camera.ip %>">
                        </div>
                        <div class="">
                            <button type="submit" value="Move" class="little-button">Move <i
                                    class="fas fa-exchange-alt"></i></button>
                            <button type="submit" value="Save" class="little-button">Save <i
                                    class="far fa-save"></i></button>
                        </div>
                    </form>

                </div>


                <div style="text-align: center; font-weight: bold"><label>zoom</label></div>
                <div class="card__actions" style="padding-top: 0%">
                    <button id="max" class="plus-minus-button"
                        style="font-size:1rem; margin-right: 10%; font-weight: bold; color: red"
                        data-ip="<%= camera.ip %>">MAX</button>
                    <button id="zoom" class="plus-minus-button" data-ip="<%= camera.ip %>"><i
                            class="far fa-plus-square"></i></button>
                    <button id="dezoom" class="plus-minus-button" data-ip="<%= camera.ip %>"><i
                            class="far fa-minus-square"></i></button>
                    <button id="min" class="plus-minus-button"
                        style="font-size:1rem; margin-left: 10%; font-weight: bold; color: green"
                        data-ip="<%= camera.ip %>">MIN</button>
                </div>


            </article>
            <% c++ %>
            <% } %>
        </div>
        <div class="card" style="padding: 5px; margin: 1rem; text-align: center; border-radius: 30px">
            <h2 style="display: flex;
            justify-content: center;
            align-items: center;">Kandinsky-Spycam-SX80 <button class="little-button" style="margin-left: 1%;" onClick="window.location.reload();"><i class="fas fa-redo-alt"></i></button></i></h2>
            <hr>
            <div style="display: flex; justify-content:center">
                <ul id="selection_list">
                    <li>
                        <form action="/" id="source_selection">
                            <input id="mainVideoSource" value=""" hidden>
                            <label for=" sources" style="font-weight: bold;">Select Main Video Source:</label>
                            <button type="submit" value="1" class="little-button">Spycam Room55</button>
                            <button type="submit" value="2" class="little-button">Spycam Sarah</button>
                            <button type="submit" value="3" class="little-button">Spycam Room70D</button>
                            <button type="submit" value="4" class="little-button">GrilleHDMI</button>
                        </form>
                    </li>
                    <li>
                        <form id="share_selection">
                            <label for="share-sources" style="font-weight: bold;">Select Share Source:</label>
                            <input id="shareSource" value="" hidden>
                            <button type=" submit" value="1" class="little-button">Spycam Room55</button>
                            <button type="submit" value="2" class="little-button">Spycam Sarah</button>
                            <button type="submit" value="3" class="little-button">Spycam Room70D</button>
                            <button type="submit" value="4" class="little-button">GrilleHDMI</button>
                            <button id="btnStopSharing" type="submit" value="Stop" class="little-button"
                                style="background-color: #ff0000c9;" hidden>Stop Sharing</button>
                        </form>
                    </li>
                    <li style="display: flex">
                        <form id="audio_selection">
                            <label style="font-weight: bold;">Audio</label>
                            <select name="audioSource" id="audioSource" disabled>
                                <option value="1">Microphone 1</option>
                                <option value="2">Microphone 2</option>
                                <option value="3">Microphone 3</option>
                                <option value="4">Microphone 4</option>
                                <option value="5">Microphone 5</option>
                                <option value="6">Microphone 6</option>
                                <option value="7">Microphone 7</option>
                                <option value="8">Microphone 8</option>
                            </select>
                            <button type="submit" value="Set_Audio" class="little-button"
                                style="background-color: #42c542;" disabled><i class="fas fa-power-off"></i></button>
                            <button type="submit" value="Stop_Audio" class="little-button"
                                style="background-color: #ff0000c9;" disabled><i
                                    class="fas fa-microphone-slash"></i></button>
                        </form>
                    </li>
                    <li>
                        <form id="callWebexNumber" action="/call" method="POST">
                            <label style="font-weight: bold;">Call Webex Number:</label>
                            <input id="webexNumber" name="webexNumber" type="text" value="" required>
                            <button id="startCallWebex" type="submit" value="startCallWebex" class="little-button"
                                style="background-color: #42c542;"><i class="fas fa-phone-alt"></i></i></button>
                            <button id="endCallWebex" type="submit" value="endCallWebex" class="little-button"
                                style="background-color: #ff0000c9;" hidden><i class="fas fa-phone-slash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
        <div class="card"
            style="padding: 5px; margin: 1rem; display: flex; flex-direction:column ;text-align: center; justify-content: center; border-radius: 30px">
            <table id="grid" class="matrix">
                <h2 style="display: flex;
                justify-content: center;
                align-items: center;">Krammer matrix <button class="little-button" style="margin-left: 1%;" onClick="window.location.reload();"><i class="fas fa-redo-alt"></i></button></h2>
                <hr>
                <tr>
                    <td></td>
                    <td><b>Ecran Haut Droite</b></b><br>Output 1</td>
                    <td><b>Ecran Haut Centre</b><br>Output 2</td>
                    <td><b>Ecran Haut Gauche</b><br>Output 1</td>
                    <td><b>R55</b><br>Output 4</td>
                    <td><b>R70 Dual</b><br>Output 5</td>
                    <td><b>...</b><br>Output 6</td>
                    <td><b>...</b><br>Output 7</td>
                    <td><b>SpyCam SX80</b><br>Output 8</td>
                </tr>
                <% var inputs = ["PC Simon", "PC Pierre", "PC Fabien", "Mac Sarah", "AppleTV", "...", "Output SX80", "Input R70D"] %>
                <% for (var x = 1; x<=8; x++) { %>
                <tr>
                    <td><b><%=inputs[x-1]%></b><br>Input <%=x%></td>
                    <td id="cell1-<%=x%>" class="cell"></td>
                    <td id="cell2-<%=x%>" class="cell"></td>
                    <td id="cell3-<%=x%>" class="cell"></td>
                    <td id="cell4-<%=x%>" class="cell"></td>
                    <td id="cell5-<%=x%>" class="cell"></td>
                    <td id="cell6-<%=x%>" class="cell"></td>
                    <td id="cell7-<%=x%>" class="cell"></td>
                    <td id="cell8-<%=x%>" class="cell"></td>
                </tr>
                <%}%>
              </table>
              <!-- <form id="krammerForm" action="" method="post" style="display: flex; justify-content: center;">
                <div style="margin: 1%;">
                  <label for="output">Output: </label>
                  <input id="output" type="number" name="output" >
                </div>
                <div style="margin: 1%;">
                  <label for="input">Input: </label>
                  <input id="input" type="number" name="input" >
                </div>
                <div style="margin: 1%;">
                  <input id="SetInOut" class="little-button" style="display: none;" type="submit" value="Set">
                </div>
              </form> -->
        </div>
        <div style="    display: flex;
        flex-direction: column; align-items: center;">
            <div style="display: flex; width: 100%; justify-content: center;">
                <button id="myBtn" class="little-button" style="margin-bottom: 0%;">Create New Demo <i class="fas fa-plus"></i></button>
                <label style="margin-left: 10px; margin-right: 10px;">OR</label>
                <label for="demoChoose" style="margin-right: 5px; font-weight: bold;">Choose the Demo Package</label>
                <select name="demoChoose" id="demoChoose" style="width: 8%; text-align: center; padding: 2px;">
                    <% for (let demo of demoList) { %>
                <option value="<%=demo._id%>"><%=demo.name%></option>
                <% } %>
                </select>
            </div>
        <label for="saveName">Scene Name: </label>
        <input id="saveName" type="text" name="saveName" style="margin-bottom: 1%">
        <button id="btnSaveAll" class="little-button">Save All <i class="fas fa-save"></i></button>

        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Choose a Name for the Demo</p>
                <form action="/admin/addDemo" method="POST">
                    <input type="text" id="demoName" name="demoName">
                    <input class="little-button" type="submit" value="Add">
                </form>
            </div>

        </div>
        <% } else { %>
        <h1>No cameras Found!</h1>
        <% } %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/modal.js"></script>
    <script>
        $(document).ready(function () {

            //KRAMMER CELL COLORATION//
            var krammerConfig1 = {
                input: "<%=krammerConfig[0].input%>",
                output: "<%=krammerConfig[0].output%>"
            };
            var krammerConfig2 = {
                input: "<%=krammerConfig[1].input%>",
                output: "<%=krammerConfig[1].output%>"
            };
            var krammerConfig3 = {
                input: "<%=krammerConfig[2].input%>",
                output: "<%=krammerConfig[2].output%>"
            };
            var krammerConfig4 = {
                input: "<%=krammerConfig[3].input%>",
                output: "<%=krammerConfig[3].output%>"
            };
            var krammerConfig5 = {
                input: "<%=krammerConfig[4].input%>",
                output: "<%=krammerConfig[4].output%>"
            };
            var krammerConfig6 = {
                input: "<%=krammerConfig[5].input%>",
                output: "<%=krammerConfig[5].output%>"
            };
            var krammerConfig7 = {
                input: "<%=krammerConfig[6].input%>",
                output: "<%=krammerConfig[6].output%>"
            };
            var krammerConfig8 = {
                input: "<%=krammerConfig[7].input%>",
                output: "<%=krammerConfig[7].output%>"
            };
            var krammerConfig = [krammerConfig1, krammerConfig2, krammerConfig3, krammerConfig4, krammerConfig5,
                krammerConfig6, krammerConfig7, krammerConfig8
            ];
            console.log(krammerConfig[0].input);
            var str = ""
            Array.prototype.forEach.call(krammerConfig, element => {
                str = "#cell" + element.output + "-" + element.input;
                console.log(str);
                $(str).css("background-color", "yellow");
            });
            //END KRAMMER CELL COLORATION//

            //GET & SET SX80 STATUS//
            var $form = $('#source_selection');
            var shareForm = $('#share_selection');
            var buttons = $form.find(":submit").css("background-color", "#ff0000c9");
            var shareButtons = shareForm.find(":submit").css("background-color", "#ff0000c9");

            //ici je cherche à trouver quel btn correspond a la mainVideoSource et je le met en vert
            for (let index = 0; index < buttons.length; index++) {
                if (buttons[index].value === "<%=sx80Config.mainVideoSource%>") {
                    buttons[index].style.backgroundColor = "#42c542";
                    $('#mainVideoSource').val(buttons[index].value);
                }
            }
            if ("<%=sx80Config.shareSource%>" != "Not_Sending") {
                $('#btnStopSharing').show();
                for (let index = 0; index < shareButtons.length; index++) {
                    if (shareButtons[index].value === "<%=sx80Config.shareSource%>") {
                        shareButtons[index].style.backgroundColor = "#42c542";
                        $('#shareSource').val(shareButtons[index].value);
                    }
                }
            }

            $('td').click(function () {
                col = $(this).parent().children().index($(this));
                row = $(this).parent().parent().children().index($(this).parent());
                const nbCell = 8;
                for (let index = 1; index <= nbCell; index++) {
                    $("#cell" + col + "-" + index).css("background-color", "");
                }
                $(this).css("background-color", "yellow");
                // $('#input').val(row)
                // $('#output').val(col)
                // $('#SetInOut').show()
                const data = "input=" + row + "&" + "output=" + col;
                console.log(col, row);
                $.ajax({
                    url: '/setInOut',
                    type: 'post',
                    data: data,
                    success: function () {}
                });
            });

            $("div[id^='advanced-button']").click(function () {
                var elem_id = $(this).data('num');
                var element = $("#advanced-container" + elem_id)
                if (element.is(':visible')) {
                    element.hide("slow");
                } else {
                    element.show("slow");
                }

            });

            $("span[id^='refresh_img']").click(function () {
                var ip = $(this).data('ip');
                var id_name_image = $(this).data('img');
                console.log("refresh", ip, id_name_image);
                $("#" + id_name_image).attr('src', "http://" + ip + "/cgi-bin/camera");
            });

            $("button[id^='button-center']").click(function () {
                console.log('center');
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/center/' + ip,
                    type: 'get',
                    success: 'success',
                });
            });

            $("button[id^='zoom']").click(function () { // s'active pour tous boutons ayant l'id zoom
                console.log('zoom');
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/zoom/' + ip,
                    type: 'get',
                    success: 'success'
                });
            });

            $("button[id^='dezoom']").click(function () {
                console.log('dezoom');
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/dezoom/' + ip,
                    type: 'get',
                    success: 'success'
                });
            });

            $("button[id^='max']").click(function () {
                console.log('max');
                var ip = $(this).data('ip');
                var string = JSON.stringify({
                    ip: ip,
                    extremum: "min"
                });
                $.ajax({
                    url: '/zoomExtremum',
                    type: 'post',
                    data: "ip=" + ip + "&extremum=max",
                    success: 'success'
                });
            });

            $("button[id^='min']").click(function () {
                console.log('min');
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/zoomExtremum',
                    type: 'post',
                    data: "ip=" + ip + "&extremum=min",
                    success: 'success'
                });
            });

            $("button[id^='right']").click(function () {
                console.log("right");
                var ip = $(this).data('ip');
                $.ajax({
                    url: '/right/' + ip,
                    type: 'get',
                    success: 'success'
                });
            });

            $("button[id^='left']").click(function () {
                var ip = $(this).data('ip');
                console.log("left");
                $.ajax({
                    url: '/left/' + ip,
                    type: 'get',
                    success: 'success'
                });
            });

            $("button[id^='up']").click(function () {
                var ip = $(this).data('ip');
                console.log("up", ip);
                $.ajax({
                    url: '/up/' + ip,
                    type: 'get',
                    success: 'success'
                });
            });
            $("button[id^='down']").click(function () {
                var ip = $(this).data('ip');
                console.log("down", ip);
                $.ajax({
                    url: '/down/' + ip,
                    type: 'get',
                    success: 'success'
                });
            });

            // Form for saving and setting preset
            $('.card__actions').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                var button = $(document.activeElement).val();
                if (button == "Move") {
                    console.log('Move', data);
                    $.ajax({
                        url: '/preset',
                        type: 'post',
                        data: data,
                        success: function () {}
                    });
                } else if (button == "Save") {
                    console.log('Save', data);
                    $.ajax({
                        url: '/savePreset',
                        type: 'post',
                        data: data,
                        success: function () {}
                    });
                }

            });

            $('#source_selection button').click(function (e) {
                e.preventDefault();
                var $form = $('#source_selection');
                var $buttons = $form.find(":submit").css("background-color",
                    "#ff0000c9"); //met tous les btn en rouge
                $(this).css("background-color", "#42c542");
                $('#mainVideoSource').val($(this).val());
                $.ajax({
                    url: '/setMainVideoSource',
                    type: 'post',
                    data: 'mainVideoSource=' + $(this).attr("value"),
                    success: function () {}
                });
            });

            $('#share_selection button').click(function (e) {
                e.preventDefault();
                if ($(this).attr("value") != "Stop") {
                    $('#btnStopSharing').show();
                    $('#share_selection').find(":submit").css("background-color",
                        "#ff0000c9");
                    $(this).css("background-color", "#42c542");
                    $('#shareSource').val($(this).val());
                    $.ajax({
                        url: '/setShareSource',
                        type: 'post',
                        data: 'shareSource=' + $(this).attr("value"),
                        success: function () {}
                    });
                } else if ($(this).attr("value") == "Stop") {
                    $('#btnStopSharing').hide();
                    $('#shareSource').val("");
                    $('#share_selection').find(":submit").css("background-color",
                        "#ff0000c9");
                    $.ajax({
                        url: '/stopShare',
                        type: 'get',
                        success: function () {}
                    });
                }
            });

            $('#callWebexNumber button').click(function (e) {
                if ($(this).attr("value") == "startCallWebex" && $("#webexNumber").val().length !== 0) {
                    $("#callWebexNumber").attr('action', '/call');
                    $(this).hide();
                    $('#endCallWebex').show();

                } else if ($(this).attr("value") == "endCallWebex") {
                    $("#callWebexNumber").attr('action', '/endCall');
                    $(this).hide();
                    $('#startCallWebex').show();
                }
            });

            // $('#krammerForm').on('submit', function (e) {
            //     e.preventDefault();
            //     var data = $(this).serialize();
            //     console.log('Set InOut', data);
            //     $.ajax({
            //         url: '/setInOut',
            //         type: 'post',
            //         data: data,
            //         success: function () {}
            //     });
            // });

            $('#btnSaveAll').click(function (e) {
                var myTableArray = [];
                var string = "";
                $("table#grid tr").each(function () {
                    var arrayOfThisRow = [];
                    var tableData = $(this).find('td');
                    var index = 1;
                    if (tableData.length > 0) {
                        //je recupere l'etat courant de la matrice krammer
                        tableData.each(function () {
                            if ($(this).css("background-color") == "rgb(255, 255, 0)") {
                                string += $(this).attr('id').substring(4).split('-')[
                                        1] + ">" + $(this).attr('id').substring(4)
                                    .split(
                                        '-')[0] + ","
                                arrayOfThisRow.push({
                                    output: $(this).attr('id').substring(4)
                                        .split('-')[0],
                                    input: $(this).attr('id').substring(4)
                                        .split('-')[1]
                                });
                            }
                        });
                        myTableArray.push(arrayOfThisRow);
                    }
                });
                string = string.slice(0, -1); //remove last character ","
                const allOutInput = myTableArray.filter(e => e.length > 0); //unused <===
                console.log(allOutInput[0][0]);
                const mainVideoSource = $("#mainVideoSource").val();
                const shareSelection = $("#shareSource").val();

                // const output = $("#output").val();
                // const input = $("#input").val();
                const demoId = $("#demoChoose").val();
                const configName = $("#saveName").val();
                var data = {};
                data.mainVideoSource = mainVideoSource;
                data.shareSelection = shareSelection;
                data.allOutInput = string;
                data.configName = configName;
                data.demoId = demoId;
                if(!configName){
                    alert("Your scene has no name!");
                }
                else{
                    $.ajax({
                    url: '/saveConfig',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function () {
                        $('#btnSaveAll').css('background-color','green');
                        $('#btnSaveAll').html('<i class="fas fa-check"></i>');
                        setTimeout(function(){ $('#btnSaveAll').css('background-color','#449abd'); $('#btnSaveAll').html('Save All <i class="fas fa-save"></i>')}, 1500);
                        // alert("Current Configuration Saved Successfully !");
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
                }
            })
        });
    </script>
    <%- include('../includes/end.ejs') %>