<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/camera.css">
<link rel="stylesheet" href="/css/button.css">

<style>
    .loader-container {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: #2626309e;
        align-items: center;
        justify-content: center;
    }

    .loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 8px solid;
        border-color: white rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1);
        animation: spin 1s ease infinite;
        transform: translate(-50%, -50%);
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(359deg)
        }
    }

    /* .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('https://hpscans.com/wp-content/uploads/2020/10/loading.gif') 50% 50% no-repeat rgb(255 255 255 / 50%);
    } */

    .unactive-demo {
        background-color: #80808054;
        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;
    }

    .blink_me {
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0.3;
        }
    }
</style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(typeof edit === 'undefined') { var edit = true;} else if(edit === null){var edit = true;}%>
        <% if (saves.length > 0) { %>
        <h2 class="camera__title">Demo "<%= demoName %>"</h2>
        <h1 class="camera__title"> Scenes <%= edit === true ? 'Edition Mode' : '' %> <% if(edit){%><i class="fas fa-user-edit"></i><%} else {%> <i class="fas fa-video"></i><%}%></h1>
        <hr>
        <% if (edit == false) { %>
        <div style="display: flex;justify-content: center;">
            <article class="card camera-item">
                <form id="callWebexNumber" style="margin:5%; text-align: center" action="/call" method="POST">
                    <label style="font-weight: bold;">Call Webex Number:</label>
                    <input id="webexNumber" name="webexNumber" type="text" value="" required>
                    <button id="startCallWebex" type="submit" value="startCallWebex" class="little-button"
                        style="background-color: #42c542;"><i class="fas fa-phone-alt"></i></i></button>
                    <button id="endCallWebex" type="submit" value="endCallWebex" class="little-button"
                        style="background-color: #ff0000c9;" hidden><i class="fas fa-phone-slash"></i></button>
                </form>
            </article>
        </div>
        <% } %>
        <div class="grid">
            <%var c = 1;%>
            <% saves.reverse()%>
            <% for (let product of saves) { %>

            <article id="container<%=c%>"
                class="<%= edit === true ? 'card camera-item' : 'card camera-item unactive-demo' %>">
                <% if (edit == true) { %>
                <div style="display: flex;justify-content: space-between;">
                    <div style="display: flex;
                        flex-direction: row-reverse;
                        margin-left: 8%;
                        margin-top: 3%;
                        font-weight: bold;"><%= c %></div>
                    <div style="display: flex;
                        flex-direction: row-reverse;
                        margin-right: 8%;
                        margin-top: 3%;">
                        <form class="delete-from" action="/admin/delete-product" method="POST">
                            <input type="hidden" value="<%= product._id %>" name="productId">
                            <input type="hidden" value="<%= demoId %>" name="demoId">
                            <button class="trash-icon" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>

                <% } %>
                <header class="card__header">
                    <% if (edit == false) { %>
                    <h1 style="background-color: white;width: 15%;border-radius: 39px; text-align: center"><%= c %></h1>
                    <% } %>
                    <h1 class="camera__title">
                        <%= product.name %>
                    </h1>
                </header>
                <div class="card__actions" style="display: flex;
                                justify-content: center;">
                    <% if (edit == false) { %>
                    <form class="launchScene" data-container="<%=c%>">
                        <input type="hidden" name="saveId" value="<%= product._id %>">
                        <button type="submit" class="btn">Load</button>
                    </form>
                    <% } %>
                    <% if (edit == true) { %>
                    <!-- <a href="/admin/edit-product/<%= product._id %>" class="btn">Edit</a> -->
                    <a href="/admin/edit-product/<%= product._id %>?demoId=<%= demoId %>" class="btn"><i
                            class="fas fa-cog"></i></a>
                    <form class="copyScene">
                        <input type="hidden" name="sceneId" value="<%= product._id %>">
                        <input type="hidden" name="demoId" value="<%= demoId %>">
                        <button type="submit" class="btn"><i class="far fa-clone"></i></button>
                    </form>
                    <a href="#ex<%=c%>" rel="modal:open" class="btn"><i class="fas fa-file-import"></i></a>
                    <% } %>
                </div>
            </article>
            <% if (edit == true) { %>
            <!-- Modal HTML embedded directly into document -->
            <div id="ex<%=c%>" class="modal">
                <form class="moveScene">
                    <p>Move to : </p>
                    <select name="demoName" id="demoName">
                        <% for (let demo of demoList) { %>
                        <% if (demoId == demo._id){%>
                        <option value="<%=demo._id%>" selected> <%=demo.name%> </option>
                        <%} else {%>
                        <option value="<%=demo._id%>"> <%=demo.name%> </option>
                        <% } } %>
                    </select>
                    <input type="hidden" name="demoId" value="<%= demoId %>">
                    <input type="hidden" name="sceneId" value="<%= product._id %>">
                    <button type="submit" class="btn">Move</button>
                </form>
            </div>
            <% } %>

            <% c++ %>
            <% } %>
        </div>
        <form action="/" method="GET" style="
            position: absolute;
            top: 10%;">
                <button id="goBackBtn" class="btn"><i class="fas fa-arrow-left"></i> Go Back</button>
            </form>
        <% if (edit == false) { %>
        <div style="display: flex;justify-content: center;">
            <article id="endDemo" class="<%= edit === true ? 'card camera-item' : 'card camera-item unactive-demo' %>">
                <header class="card__header">
                    <h1 class="camera__title">
                        END
                    </h1>
                </header>
                <div class="card__actions" style="display: flex;justify-content: center;">
                    <form action="/endDemo" method="GET">
                        <button type="submit" class="btn">Finish</button>
                    </form>
                </div>
            </article>
        </div>
        <% } %>

        <% if (edit == true) { %>
        <div style="display: flex;justify-content: center;">
            <form style="width:50%;display: flex;
            justify-content: space-between;
            padding: 2%;" action="/get-sort-demo" method="POST">
                <input type="hidden" name="demoId" value="<%= demoId %>">
                <button type="submit" class="btn">Sort Scene</button>
                <a href="/advanced?demoName=<%= demoName %>" class="btn">Add Scene</a>
            </form>
        </div>
        <% } %>
        <% } else { %>
        <h1>No Scene Found!</h1>
        <a href="/advanced?demoName=<%= demoName %>" class="btn">Add Scene</a>
        <% } %>
    </main>

    <div id="loadingDiv" class='loader-container'>
        <div class="loader"></div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <script>
        $(document).ready(function () {
            //ajax configuration for showing/hidding loading animation when ajax Start/Stop
            var $loading = $('#loadingDiv').hide();
            $(document)
                .ajaxStart(function () {
                    $loading.show();
                })
                .ajaxStop(function () {
                    $loading.hide();
                });
            //end configuration

            $('#callWebexNumber button').click(function (e) {
                if ($(this).attr("value") == "startCallWebex" && $("#webexNumber").val().length !== 0) {
                    $("#callWebexNumber").attr('action', '/call');
                    $(this).hide();
                    $('#endCallWebex').show();

                } else if ($(this).attr("value") == "endCallWebex") {
                    $("#callWebexNumber").attr('action', '/endCall');
                    $(this).hide();
                    $('#startCallWebex').show();
                }
            });

            $('.launchScene').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                const length = "<%=saves.length%>";
                var container_id = $(this).data('container');
                $.ajax({
                    url: '/startScenario',
                    type: 'post',
                    data: data,
                    success: function () {
                        for (let index = 1; index <= length; index++) {
                            $("#container" + index).css("background-color", "#ff0909b8");
                            $("#container" + index).removeClass("blink_me");
                        }
                        $("#container" + container_id).css("background-color", "#06ff5f");
                        $("#container" + (parseInt(container_id) + 1)).addClass("blink_me")
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            });

            $('.copyScene').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                $.ajax({
                    url: '/admin/copy-product',
                    type: 'post',
                    data: data,
                    success: function () {
                        location.reload();
                    }
                });
            });

            $('.moveScene').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                $.ajax({
                    url: '/admin/move-to-demo',
                    type: 'post',
                    data: data,
                    success: function () {
                        $('.modal').modal('toggle');
                        location.reload();
                    }
                });
            });

            $('.delete-from').submit(function (event) {
                if (!confirm("Are You sure you Want to Delete this Scene ?")) {
                    event.preventDefault();
                }
            });

            
            let isEditMode = "<%=edit%>"==="true";

            if(!isEditMode){
                window.onbeforeunload = function(){
                    $.ajax({
                    url: '/endDemo',
                    type: 'get'
                });
            };
            }
        });
    </script>
    <%- include('../includes/end.ejs') %>