<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/camera.css">
<link rel="stylesheet" href="/css/button.css">

<style>
    .unactive-demo {
        background-color: #80808054;
        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;
    }

    .blink_me {
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0.3;
        }
    }
</style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(typeof edit === 'undefined') { var edit = true;} else if(edit === null){var edit = true;}%>
        <% if (saves.length > 0) { %>
        <h2 class="camera__price">Demo "<%= demoName %>"</h2>
        <h1 class="camera__price"> Scenes <%= edit === true ? 'Edition Mode' : '' %></h1>
        <hr>
        <div class="grid">
            <%var c = 1;%>
            <% for (let product of saves) { %>

            <article id="container<%=c%>"
                class="<%= edit === true ? 'card camera-item' : 'card camera-item unactive-demo' %>">
                <% if (edit == true) { %>
                <div style="display: flex;
                flex-direction: row-reverse;
                margin-right: 8%;
                margin-top: 3%;">
                    <form action="/admin/delete-product" method="POST">
                        <input type="hidden" value="<%= product._id %>" name="productId">
                        <input type="hidden" value="<%= demoId
                         %>" name="demoId">
                        <button class="trash-icon" type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
                <% } %>
                <header class="card__header">
                    <h1 class="camera__price">
                        <%= product.name %>
                    </h1>
                </header>
                <div class="card__actions" style="display: flex;
                                justify-content: center;">
                    <% if (edit == false) { %>
                    <form class="launchScene" data-container="<%=c%>">
                        <input type="hidden" name="saveId" value="<%= product._id %>">
                        <button type="submit" class="btn">Load</button>
                    </form>
                    <% } %>
                    <% if (edit == true) { %>
                    <!-- <a href="/admin/edit-product/<%= product._id %>" class="btn">Edit</a> -->
                    <a href="/admin/edit-product/<%= product._id %>?demoId=<%= demoId %>" class="btn">Edit</a>
                    <% } %>
                </div>
            </article>
            <% c++ %>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Scene Found!</h1>
        <% } %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.launchScene').on('submit', function (e) {
                e.preventDefault();
                var data = $(this).serialize();
                const length = "<%=saves.length%>";
                for (let index = 1; index <= length; index++) {
                    $("#container" + index).css("background-color", "#ff0909b8");
                    $("#container" + index).removeClass("blink_me");
                }
                var container_id = $(this).data('container');
                $("#container" + container_id).css("background-color", "#06ff5f");
                $("#container" + (parseInt(container_id)+1)).addClass("blink_me")
                $.ajax({
                    url: '/startScenario',
                    type: 'post',
                    data: data,
                    success: function () {}
                });
            });
        });
    </script>
    <%- include('../includes/end.ejs') %>